# Android Studio / Gradle
.gradle/
build/
.idea/
*.iml
local.properties

# APK files
*.apk
*.aab

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Python patterns
*.py[cod]
*.pyo
*.pyd
__pycache__/
dist/
*.egg-info/
.coverage
.pytest_cache/
.tox/
